<?xml version="1.0"?>
<ArrayOfDemo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Demo>
    <Name>BasicUsage</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
  <Demo>
    <Name>Layouts</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
  <Demo>
    <Name>Exporting</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
  <Demo>
    <Name>Grouping</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
  <Demo>
    <Name>Assistant</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
    <Demo>
    <Name>MultipleParents</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
  <Demo>
    <Name>15kNodesCustomExpandCollapse</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
  
  <Demo>
    <Name>DepartamentTemplate</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
    <Demo>
    <Name>EventHandlers</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
  <Demo>
    <Name>Zoom</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
      <Demo>
    <Name>NumberOfChildren</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
  <Demo>
    <Name>Templates</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
  <!--<Demo>
    <Name>5000Nodes</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>-->
    <Demo>
    <Name>DecisionTree</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
  <Demo>
    <Name>ConditionalColor</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
  <Demo>
    <Name>RoyalFamilyTree</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
    <Demo>
    <Name>RoyalFamilyTreeGroups</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
  <Demo>
    <Name>ImportFromCSV</Name>
    <Type>GitHub</Type>
    <GitHubLink>https://github.com/BALKANGraph/OrgChart.ImportFormCSV</GitHubLink>
  </Demo>
</ArrayOfDemo>