<?xml version="1.0"?>
<ArrayOfDemo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Demo>
    <Name>BasicUsage</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
  <Demo>
    <Name>DepartamentTemplate</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
    <Demo>
    <Name>Events</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
      <Demo>
    <Name>NumberOfChildren</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
  <Demo>
    <Name>TemplatePicker</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
  <Demo>
    <Name>Templates</Name>
    <Type>JS</Type>
    <GitHubLink></GitHubLink>
  </Demo>
  <Demo>
    <Name>ImportFromCSV</Name>
    <Type>GitHub</Type>
    <GitHubLink>https://github.com/BALKANGraph/OrgChart.ImportFormCSV</GitHubLink>
  </Demo>
</ArrayOfDemo>