<script src="https://balkangraph.com/js/latest/OrgChart.js"></script>

<select style="position: absolute;right: 30px;top: 30px;color: #7a7a7a;font-size: 14px;padding: 10px;background-color: #F57C00;color: #ffffff;width: 100px;z-index:2;" id="selectTemplate">
    <option>luba</option>
    <option>olivia</option>
    <option>derek</option>
    <option>diva</option>
    <option>mila</option>
    <option>polina</option>
    <option>mery</option>
    <option>rony</option>
    <option>belinda</option>
    <option>ula</option>
    <option>ana</option>
    <option>isla</option>
</select>

<div id="tree"></div>