html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: Helvetica;
    overflow: hidden;
}

#tree {
    width: 100%;
    height: 100%;
}

/*partial*/
.link-yes path {
    stroke: #FFCA28;
}

.link-no path {
    stroke: #F57C00;
}

[level='0'] path {
    stroke-width: 9;
}

[level='1'] path {
    stroke-width: 3;
}

[level='2'] path {
    stroke-width: 1;
}

.node-end circle {
    fill: #f1f1f1;
}

